{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="display-4">{{ category.name }}</h1>

    <form method="get" class="mb-4">
        <div class="input-group">
            <input type="number" name="min_price" class="form-control" placeholder="Минимальная цена" aria-label="Минимальная цена">
            <input type="number" name="max_price" class="form-control" placeholder="Максимальная цена" aria-label="Максимальная цена">
            <button class="btn btn-outline-secondary" type="submit">Фильтровать</button>
        </div>
    </form>

    <ul class="list-group">
        {% for product in products %}
            <li class="list-group-item">
                <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a> - {{ product.price }} ₽
            </li>
        {% empty %}
            <li class="list-group-item">Нет продуктов в этой категории.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
