{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Список товаров</h1>
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ object.name }}</h5>
                <p class="card-text">{{ object.description|truncatewords:20 }}</p>
                <p class="card-text"><strong>Цена: {{ object.price }} руб.</strong></p>
                <a href="{% url 'product_detail' object.pk %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
